{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.nombre }} | HardSpot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<style>
    .circle-container {
        width: 175px; /* Ajusta el tamaño según sea necesario */
        height: 175px; /* Ajusta el tamaño según sea necesario */
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid green;
    }

    .square-container {
        width: 150px; /* Ajusta el tamaño según sea necesario */
        height: 150px; /* Ajusta el tamaño según sea necesario */
        border-radius: 5%;
        overflow: hidden;
    }

   a {
        text-decoration: none;
    }

    /* Estilo para la imagen dentro del div */


    /* Estilo para la imagen dentro del div */
    .circle-container img {
      width: 100%;
      height: auto;
      border-radius: 50%;
      object-fit: cover;
    }
</style>
<body>
    <section class="vh-100" style="background-color: #F5DE83;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10 p-4 h-100" style="background-color: #538C51;border-radius: 1rem 1rem 1rem 1rem;">
                    <div class="card h-100" style="border-radius: 1rem;background-color: #AFBF73;">
                        <div style="height: 33%" class="row g-0 d-flex">
                            <div class="d-flex justify-content-center align-items-center ">
                                <a href="{% url 'listaClientes' %}">
                                    <div class="square-container text-bg-primary text-center d-flex justify-content-center flex-column">
                                        <span class="material-symbols-outlined fs-1">
                                        group
                                        </span>
                                            <p>Clientes</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div style="height: 33%" class="row g-0 d-flex">
                            <div class="d-flex justify-content-center align-items-center ">
                                <a href="{% url 'listaProveedores' %}">
                                    <div style="background: #FF4FED" class="square-container me-5 text-light text-center d-flex justify-content-center flex-column">
                                        <span class="material-symbols-outlined fs-1">
                                            local_shipping
                                        </span>
                                        <p>Proveedores</p>
                                    </div>
                                </a>
                                <a href="{% url 'empleado' %}">
                                    <div class="circle-container">
                                        <img src="https://i0.wp.com/www.stignatius.co.uk/wp-content/uploads/2020/10/default-user-icon.jpg?w=415&ssl=1" alt="Usuario por defecto">
                                    </div>
                                </a>
                                <a href="{% url 'listaProductos' %}">
                                    <div style="background: #C62F2F" class="square-container mt-3 ms-5 text-light text-center d-flex justify-content-center flex-column">
                                        <span class="material-symbols-outlined fs-1">
                                            inventory
                                        </span>
                                        <p>Productos</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div style="height: 33%" class="row g-0 d-flex">
                            <div class="d-flex justify-content-center align-items-center ">
                                <a href="{% url 'listaEmpleados' %}">
                                    <div style="background: #248E1B" class="square-container text-light text-center d-flex justify-content-center flex-column">
                                        <span class="material-symbols-outlined fs-1">
                                            badge
                                        </span>
                                        <p>Empleados</p>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>